// basic general styles
a{
    color: black;
    text-decoration: none;
}
// The whole section for each product
.eachProductCard{
    width: min-content;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        cursor: pointer;
    }
}
// first section -header in each product cart
.header{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    margin: 20px;
    .productBrand, .productTitle{
        margin: 0;
        padding: 0;
        font-weight: 800;
    }
    .productBrand{
        color: rgb(110, 110, 110);
        font-weight: 500;
    }
}
// second section in each product cart which is Image of the product
.imageContainer{
    width: 100%;
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .productImage{
        width: 250px;
        height: 250px;
        margin: 20px;
        margin-top: 0;
        object-fit: contain;
    }
}
// last part of the product cart -price and operations to buy
.priceSection {
    width: 100%;
    font-size: 1.1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .functionalButtons{
        background-color: black;
        color: white;
        border: 1px solid black;
        height: min-content;
    }
}
.buttonContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}