nav {
    display: flex;
    position: sticky;
    top: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background-color: white;
}

.logo, .navigators, .mainLinksContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    flex: 2;
    .logoIcon{
        transform: scale(0.65);
    }
}
.navigators{
    flex: 14;
    display: flex;
    justify-content: center;
    gap: 8rem;
    .eachNavigator{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
    }
}
.mainLinksContainer{
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 2rem;
}



.mainLinks{
    width: 40px;
}